@import './../../shared';

.input {
  background-color: var(--cyan--light--grayish-2);
  height: 5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-radius: $secondary-border-radius;

  &--button {
    @extend .input;

    &--focus {
      @extend .input--button;
      outline: 2.5px solid var(--cyan--strong);
    }
  }

  &__icon {
    height: 60%;
  }

  &--focus {
    @extend .input;
    outline: 2.5px solid var(--cyan--strong);
  }

  &__text-area {
    border: none;
    background-color: transparent;
    color: var(--cyan--dark);
    font-weight: bold;
    text-align: right;
    width: 100%;
    height: 100%;
    font-size: 2.2rem;
    font-family: inherit;

    &::placeholder {
      color: var(--cyan--dark--grayish-2);
    }

    &:focus {
      outline: none;
    }

    &--button {
      @extend .input__text-area;
      &::placeholder {
        text-align: center;
        color: var(--cyan--dark--grayish-1);
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
