.inputs-container {
  &__texts {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;

    &__description {
      font-size: 1.6rem;
      color: var(--cyan--dark--grayish-1);
    }

    &__error-message {
      font-size: 1.35rem;
      color: var(--red);
    }
  }
}
