.output {
  display: flex;
  justify-content: space-between;

  &__description {
    font-weight: normal;

    &__main {
      font-weight: inherit;
      font-size: 2.2rem;
      color: var(--cyan--light--grayish-2);
    }

    &__secondary {
      font-weight: inherit;
      font-size: 1.8rem;
      color: var(--cyan--dark--grayish-2);
    }
  }

  &__value {
    font-size: 4rem;
    color: var(--cyan--strong);
    font-weight: inherit;
  }
}
