.buttons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem 5rem;

  @media screen and (max-width: 920px) {
    grid-template-rows: 4rem 4rem;
  }
  gap: 1.7rem;
}
